extends ../default

block content
  include ../templates/nav

  div(class=['ui', 'container','grid','stackable'])
    div(class=['sexteen','wide','column'])

      h2(class=['ui','header','blue','dividing'])= 'Modificar Produto'

      div(class='form-novoproduto')
        form(class=['ui', 'form'] action='http://127.0.0.1:3000/editar' method='post')
          div(class=['ui', 'field'])
            label(for='nome')= 'Nome do produto'
            input(type='text' name='nome' placeholder='Nome' value=produto[0].nome)
          div(class=['ui', 'two', 'fields'])
            div(class=['ui', 'field'])
              label(for='preco')= 'Preço'
              input(type='text' name='preco' placeholder='Preço' value=produto[0].preco)
            div(class=['ui', 'field'])
              label(for='estoque')= 'Estoque'
              input(type='text' name='estoque' placeholder='Estoque' value=produto[0].estoque)
              input(type='hidden' name='id_produto' value=produto[0].id_produto)
          button(class=['ui', 'button', 'basic', 'black'])= 'Modificar Produto'
          div(class=['ui', 'message', 'error'])
      
  script(src='/javascripts/validacao.js')